/* IMPORTS */ @use "sass:color";
@use "variables" as *;

/* RESET / BASE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $background;
  color: $text-dark;
  line-height: 1.6;
}

/*LAYOUT GENERAL*/
header {
  width: 100%;
}

main {
  width: 100%;
}

footer {
  width: 100%;
}

/*HEADER / NAV*/
.header {
  background-color: $primary;
  padding: 1rem 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav_list li a {
  color: $text-light;
  text-decoration: none;
  font-weight: bold;
}

nav a.active {
  font-weight: bold;
  border-bottom: 2px solid #333;
}

/*HERO*/
.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  background: linear-gradient(
    135deg,
    $primary,
    $primary-soft
  );
  color: $text-light;
}

.hero_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.hero_content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero_content p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.hero_image img {
  width: 100%;
  height: auto;
}

/*BOTONES*/
.btn_primary {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: $accent;
  color: $text-light;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-agregar {
  background-color: $accent;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-agregar:hover {
  background-color: adjust-color($color: $accent, $lightness: -10%);
  transform: translateY(-2px);
}


.btn_primary:hover {
  background-color: color.adjust($accent, $lightness: -10%);
}

/*MEDIA QUERIES*/
@media (max-width: 768px) {
  .hero_container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.producto {
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.producto img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.producto h3 {
  font-size: 1.2rem;
}

.producto .precio {
  font-weight: bold;
  color: $primary;
  font-size: 1.1rem;
}
